
.content{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
#welcome, #answer{
    justify-content: center;
    display: flex;
}

button{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background-color: rgb(20, 22, 21);
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#reset{
    color: red;
}

button:hover{
    background-color: red;
}