* {
    margin: 0;
    padding: 0;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#welcome,
#answer {
    justify-content: center;
    display: flex;
}

button {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background-color: rgb(20, 22, 21);
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#reset {
    color: red;
}

#reset:hover {
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(56, 7, 255);
}